@import url(./__image/photo-grid__image.css);

.photo-grid {
  min-height: 2700px;
  width: 100%;
  display: grid;  
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  gap: 12px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    min-height: 1600px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    min-height: 942px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    padding: 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    min-height: 671px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 0;
  }
}