.main {
  max-width: 1184px;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 63px;
}

@media screen and (min-width: 768px) {
  .main {
    gap: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    gap: 92px;
  }
}
