.header__logo {
  width: 100%;
  height: auto;
  max-width: 142px;
  margin-bottom: 8px;
  transition: .3s;
}

.header__logo:hover {
  opacity: .8;
}


@media screen and (min-width: 768px) {
  .header__logo {
    max-width: 176px;
  }
}