@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__list-item/header__list-item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_current/header__lang-link_current.css);

.header {
  width: 100%;
  max-width: 1184px;
  padding: 16px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


@media screen and (min-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 28px 48px 0;
  }
}
