@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__list-item/header__list-item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_current/header__lang-link_current.css);

.header {
  width: 90%;
  margin: 16px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}