.footer__link {
  font-size: 24px;
  text-decoration: none;
  color: white;
  transition: .3s;
}

.footer__link:hover {
  opacity: .7;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 18px;
  }
}