.place__paragraph {
  width: 90%;
  margin: 0 16px 24px;
  font-size: 16px;
  line-height: 1.62; /*В макете фигмы высота линии 26px или 162%. При 162%(или множетеле 1.62) высота линии будет чуть ниже - 25.92px,
                       из-за этого у меня в браузере вёрстка плывёт, потому что 26/16 = 1.625.
                       Я сразу же указал эту велечину, но её отметили как ошибку. Если снова не те параметры, можно прикрепить скриншот откуда берётся величина?*/
  text-align: left;
}

.place__paragraph:last-child {
  margin: 0 16px;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    margin: 0 0 24px;
    width: 100%;
  }

  .place__paragraph:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 1.67;
  }
}
