.place__paragraph {
  width: 90%;
  margin: 0 16px 24px;
  font-size: 16px;
  line-height: 1.63;
   /*Большое спасибо за скрин, так бы не понял в чем ошибка! Оказывается у меня отличался макет,
    потому что работал со скаченным, а не онлайн =/ Отсюда и проблемы.*/
  text-align: left;
}

.place__paragraph:last-child {
  margin: 0 16px;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    margin: 0 0 24px;
    width: 100%;
  }

  .place__paragraph:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}
