.cover__text {
  width: 90%;
  display: grid;
  gap: 16px;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  text-align: center;
  justify-items: center;
  align-self: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .cover__text {
    width: 100%;
    gap: 32px;
    max-width: 560px;
  }
}
